table {
    width: 100%;
    border-top: 2px solid #d1cd9e;
    border-bottom: 2px solid #d1cd9e;
    min-height: 400px;
    max-height: 800px;
    overflow-y: auto;
}
table thead {
    border-bottom: 2px solid #d1cd9e;
}
table thead,
table tbody,
table th,
table td { display: block }

table tr { display: flex; align-items: center; height: 50px; }
table th, table td { text-align: center; padding: 0 10px; font-size: 15px;}

table tr.boardBody { background: #e8e8e8; }
table tr.boardBody:nth-child(odd) {
    background: #f9f9f9;
}
table tr.boardBody:hover {
    background: #fff !important;
}

thead .title { text-align: center;}

/*.no { width: 50px; }*/
.title { width: calc(100% - 800px);  text-align: left;}
.writer { width: 150px; }
.comment_count { width: 120px; }
.comment_content {
    width: 600px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.a_btn {
    width: 80px;
    height: 40px;
    background-color: #39A7FF;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
}

.request_id {
    width: 150px;}
.requset_msg{
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.company_existence_button{
    width: 200px;}
.company_existence{
    width: 200px;}

.like_count { width: 120px; }
.view_count { width: 120px; }
.reg_date { width: 120px; }


/*페이지네이션*/
.pagination {
    margin: 30px 0;
    font-size: 15px;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}
.beginPage, .endPage {
    font-size: 14px;
}
.pageActive {
    color: red;
}

/* accompany */
.font_800_accom{
    margin-bottom: 15px;
    font-family: Noto Sans KR,sans-serif;
    font-weight: 800;
}
.font_500_accom {
    font-family: Noto Sans KR,sans-serif;
    font-weight: 500;
}

.accompany_box {
    max-width: 1200px;
    /* width: 1300px; */
    margin: 0 auto;
    /* display: flex; */
    justify-content: space-between;
    box-sizing: border-box;
    margin-top: 50px;
}
.accompany_title {
    width: 35%;
    /* margin: 0 auto; */
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 15px;
    /* line-height: 70px; */
}
.accompany_css {
    color: white;
    background-color: #87C4FF;
    height: 50px;
    box-sizing: border-box;
    margin-top: 8px;
    padding: 0 20px;
    border-radius: 8px;
    border: 1px solid rgb(219, 219, 219);
    font-size: 16px;
    font-family: Noto Sans KR,sans-serif;
    font-weight: 500;
    cursor: pointer;
}

